// Define variables for your color scheme

// For example:
$red: #f57170;
$blue: #247ba0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #80ded9;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-gray: #262626;
$light-gray-blue: #F0F4F8;

