$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


// // Small devices (landscape phones, 576px and up)
// @media (min-width: $sm) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: $md) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: $lg) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: $xl) { ... }
