// General style
$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
$body-bg:                 $light-gray;
$font-size-base: 14px;

// Colors
$font-color-base: $dark-gray;
$font-color-light: lightgrey;

// Buttons & inputs' radius
$border-radius-base:  3px;

// Override other variables below!
