// General style
$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
$body-bg:                 $light-gray;
$font-size-base: 14px;

// Colors
$font-color-base: $dark-gray;
$font-color-light: lightgrey;
$light-border: lightgrey;
$navbar-bg-color: #f38181;
$navbar-text-color: white;

// Buttons & inputs' radius
$border-radius-base:  3px;

// Height
$navbar-height: 50px;
$footer-height: 70px;
$total-nav-footer-height: $footer-height + $navbar-height;
