#sharedListContainer {
  background-image: $rand-bg-gradient;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  header {
    flex: 0 0 auto;
  }
  section {
    flex: 1 0 auto;
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: $lg) {
    padding: 50px 0;
    section, header {
      width: 700px;
      margin: 5px auto;
    }
  }
  h1, h2, h3, h4, h5 {
    @extend .shared-list-title;
  }
}



