#sharedListHead {
  height: 60px;
  background-color: white;
  border-radius: $border-radius-base;
  display: flex;
  .shared-list-title-body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 30px;
    h1 {
      font-size: 1.6em;
      margin: 5px 0;
    }
    span {
      align-self: flex-end;
    }

    @media (min-width: $lg) {
      padding: 5px 10px 5px 20px;
    }
  }
}



#sharedListContent {
  border-radius: $border-radius-base;
  ol {
    margin: 5px;
    padding: 5px;
    @media (min-width: $lg) {
      margin: 0px;
      padding: 0px;
    }
    list-style: none;
  }
  // if I want to create a scroll inside window (for desktop version maybes)
  // .notes-scroll {
  //   overflow-y: auto;
  //   overflow-x: hidden;
  //   height: calc(100vh - 45px);
  // }
}
