nav {
  height: $navbar-height;
  background: $navbar-bg-color;
  * {
    color: $navbar-text-color;
  }
  .container {
    height: 100%;
  }
  .navbar-items {
    height: 100%;
    flex: 1;
    @extend .flex-between-center;
    a {
      text-decoration: none;
    }
  }
}

#navbarLogo {
  font-family: $headings-font-family;
  font-weight: 800;
  font-size: 2em;
}
