nav {
  height: $navbar-height;
  display: flex;
  background: $navbar-bg-color;
  * {
    color: $navbar-text-color;
  }
  .navbar-items {
    flex: 1;
    @extend .flex-between-center;
  }
}

#navbarLogo {
  font-family: $headings-font-family;
  font-weight: 800;
  font-size: 1.2em;
}
