body {
  margin: 0px;
  padding: 0px;
}

main {
  min-height: calc(100vh - #{$total-nav-footer-height});
  display: flex;
  flex-direction: column;
}

html *
{
  font-size: $font-size-base;
  color: $font-color-base;
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  font-family: $headings-font-family;
  color: $font-color-base;
}

.shared-list-title {
  font-family: $font-family-sans-serif;
}

.annotation {
  color: $font-color-light;
  font-size: 0.8em;
}

.author {
  @extend .annotation;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
